{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4">
            <h2 class="mb-3">Create Post</h2>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success mt-2">Post</button>
            </form>

            <a href="{% url 'post_list' %}" class="btn btn-outline-secondary mt-3">Back to Posts</a>
        </div>
    </div>
</div>
{% endblock %}
